.span {
  margin-top: 10px;
  font-size: 20px;
}
.label {
  display: flex;
  position: relative;
  flex-direction: column;
  /* align-items: flex-end; */
}
.input {
  /* width: 100%; */

  margin-top: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 35px;
  border: 1px solid rgb(32, 169, 169);
  border-radius: 5px;
  background-color: #ffffff86;
  font-size: 15px;
}
.icon {
  position: absolute;
  left: 5px;
  bottom: 4px;
  color: #8b8989e4;
}
