.list {
  font-size: 20px;
  margin-top: 15px;
  padding: 0;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.name {
  font-weight: 500;
  margin-right: 20px;
}
.btn {
  /* width: 90px; */
  /* margin-top: 15px; */
  /* margin-left: 0 auto; */

  padding: 5px;

  background-color: transparent;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  color: rgb(180, 18, 18);
  transition: background-color 250ms linear;
}
.btn:hover {
  background-color: rgba(221, 12, 12, 0.173);
}
.text {
  text-align: center;
}
